.center {
	display: flex;
	justify-content: center;

	> a {
		margin: 16px;
	}
}

.click {
	background-color: #000;
	color: #fff;
}

.second-element {
	background-color: aqua;
	color: brown;
}

.max-width {
	margin: 0 auto;
	max-width: 60%;
}
